@import '_colors';

// RGB colors
$background-color: var(--background-color);
$text-color: var(--text-color);

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

$accent-color: var(--accent-color);
